/* Reset some default styles */
body, h1, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
}

nav {
    background-color: darkgrey;
}

nav ul {
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

nav li {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Add more styles as needed for your pages */
